# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
dist
build

# Ignore local config files
.env
*.local

# Ignore Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*
